# Python
__pycache__/

# Virtual Environment
venv/
env/
ENV/
.env

# VS Code
.vscode/
*.code-workspace
.history/

# Logs
logs/
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local


# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

